.WeatherForecast {
  text-align: center;
}
.WeatherForecast-day {
  font-weight: bold;
}
.WeatherForecast-temp-max {
  font-weight: bold;
}
.WeatherForecast-temp-min {
  color: grey;
}
.WeatherForecast-icon {
  margin: 0;
}
